.codebox-handler {
    --tw-text-opacity: 1;
    color: rgba(217, 217, 227, var(--tw-text-opacity));
    --tw-bg-opacity: 0.6;
    background-color: rgba(52, 53, 65, var(--tw-bg-opacity));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    line-height: 32px;
    
}

.codebox-handler span {
    display: flex;
}