.account-container {
    text-align: left;
}
#skd-root {
    position: fixed;
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: fit-content;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
}