@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
    margin: 0;
    padding: 0;
}

.adm-list-item {
    overflow: hidden;
}

.adm-list-item-content-main {
    width: 100%;
}

#sdk-root {
    position: fixed;
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: fit-content;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
}